body{
    background-color: #001313;
}

.navbar {
    border-radius: 20px;
    margin: 8px;
    border: solid 5px #eee594;
}

.navbar .nav-link{
    display: inline-block;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    transition: border-color 0.3s;
}

.navbar .nav-link:hover{
    border-color:  #eee594;
}


.navbar-brand img{
    transition: transform 0.3s ease;
}

.navbar img:hover{
    transform: scale(1.04);
}

main{
    border-radius: 20px;
    border: solid 5px #eee594;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: #000d0d; 
}

main h1{
    margin: 20px;
    padding: 15px;
    color: #e7d852;
    border: 3px solid #e6da74;
    border-radius: 40px;
    cursor: default;
}

main .titulo h1{
    transition: transform 0.3s ease;
}

main h1:hover{
    transform: scale(1.1);
}

main p{
    margin-left: 20px;
    margin-right: 20px;
    color: #ece49d;
}

main img{
    border-radius: 20px;
    height: auto;
}

#carouselExampleAutoplaying{
    max-width: 800px;
    margin: 20px;
}

.contenedor{
    display: flex;
    flex-direction: row;
}


aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    background-color: #000d0d;
    border-radius: 20px;
    border: solid 5px #eee594;
    padding: 10px;
    flex: 0 0 300px;
}


.poster img{
    display: flex;
    height: 350px;
    border-radius: 20px;
    border: solid 3px #eee594;
    margin: 5px;
}

aside h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    padding: 10px;
    color: #e7d852;
    
}

aside h1{
    display: inline-block;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    transition: border-color 0.3s;
    cursor: default;
}

aside .titulo_aside h1:hover{
    border-color: #e6da74;
}

.parrafos {
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    color: #ece49d;
}

.fotos img {
    margin-top: 20px;
    height:140px;
    border-radius: 20px;
}

.mas_informacion_pie{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    width: fit-content;
    border-radius: 20px;
    background-color:#000d0d;
    border: solid 5px #eee594;
}

footer img{
    height: 400px;
    margin: 20px;
    border-radius: 10px;
}

footer .titulo h1{
    margin-bottom: 20px;
    color: #e7d852;
    border: 3px solid #e6da74;
    border-radius: 30px;
    padding: 10px;
    background-color: #000202;
    transition: transform 0.3s ease;
}

footer h1:hover{
    transform: scale(1.05);
}


footer a{
    text-decoration: none;
}
